django==3.2
django-phonenumber-field
phonenumbers
email_validator
django-crispy-forms
jsonfield
pillow
gunicorn==21.2.0
whitenoise==6.5.0
boto3==1.28.68
django-storages==1.14.2
psycopg2-binary==2.9.9
requests==2.31.0